<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <input type="text" placeholder="filter" [(ngModel)]="filteredValue">
  </div>
  <div *ngFor="let a of users | filterpipe:filteredValue">
    <div>NAME:{{a.name}}</div>
    <div>AGE:{{a.age}}</div>
    <div>TECHNOLOGY:{{a.technology | uppercase}}</div>
    <div>DOB:{{a.dob | date:"fullDate" | lowercase}}</div>
  </div>
</body>
</html>